.wrapper{
	width: 900px;
	height: 900px;
	margin: 0 auto;

}

.gridStyle{

	border: 1px solid black;
	display: inline-block;
	margin: 1px 1px;
	
}

.highlight{
	background-color: blue;

}

#button{
	width: 900px;
	margin: 0 auto;
}

button{
	display: inline-block;
	margin: auto;
	margin-bottom: 30px;
}

body{
	background-color: grey;
}