.wrapper{
	width: 900px;
	height: 900px;
	margin: 0 auto;
	 box-shadow:3px 3px 5px 6px #ccc;

}

.gridStyle{

	border: 1px solid black;
	display: inline-block;
	margin: 1px 1px;
	background-color: grey;
	
}

.highlight{
	background-color: blue;

}

#button{
	width: 900px;
	margin: 0 auto;
}

button{

	width: 129px;
    height: 37px;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 50px;
}

#toClear{
	position: relative;
	left: 300px;
}
#newGrid{
	position: relative;
	left: 300px;
}
body{
	background-image: url("backgroundImg.jpg");
}