.wrapper{
	width: 900px;
	height: 900px;
	margin: 0 auto;
	background-color: white;
	 box-shadow:3px 3px 5px 6px #ccc;

}

.gridStyle{

	border: 1px solid black;
	display: inline-block;
	margin: 1px 1px;
	background-color: white;
	
}



#button{
	width: 900px;
	margin: 0 auto;
}

button{

	width: 168px;
    height: 37px;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 50px;
	position: relative;
	left: 170px;
}

body{
	background-image: url("backgroundImg.jpg");
}